@use "../util" as *;
html {
  height: 100%;
  font-size: 100%;
  box-sizing: border-box;
  font: inherit;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  //overflow-y: scroll;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

select {
  border: none;
  font: inherit;
  box-sizing: inherit;
  width: 100%;
  background-color: inherit;
  appearance: none;
}

input {
  text-decoration: none;
  border: none;
}
